body{
    background-color: white;
	margin: auto;
	font-family: 'Montserrat', sans-serif;
}

.texto{
	display: block;
	height: 40px;
	box-sizing: content-box;
	background-color: yellow;
	padding: 20px 10px 20px 5px;
	margin: 0;
}
.texto1{
	display: block;
	height: 40px;
	box-sizing: content-box;
    background-color: crimson;
    padding: 20px 10px 20px 5px;
    color: black;
    margin: 0;
}
.texto2{
	display: block;
	height: 40px;
	box-sizing: content-box;
	background-color: yellow;
	padding: 20px 10px 20px 5px;
	text-transform: uppercase;
	margin: 0;
}
    
